---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: reservation-service
  namespace: restaurant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reservation-service
  template:
    metadata:
      labels:
        app: reservation-service
    spec:
      containers:
        - name: reservation-service
          image: ghcr.io/ashwinberyl/restaurant-reservation-service:latest
          ports:
            - containerPort: 5002
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DATABASE_URL
            - name: TABLE_SERVICE_URL
              value: http://table-service:5001
            - name: PORT
              value: "5002"
            - name: NODE_ENV
              value: production
          readinessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: reservation-service
  namespace: restaurant
spec:
  selector:
    app: reservation-service
  ports:
    - port: 5002
      targetPort: 5002
  type: ClusterIP
