apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: restaurant-system
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ashwinberyl/restaurant-infra.git
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: restaurant
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
